{
  "useTabs": false,
  "tabWidth": 2,
  "no-mixed-spaces-and-tabs": "smart-tabs",

  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",

  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,

  "printWidth": 80
}
